body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(8, 7, 7, 0.904);
    margin: 0rem;
    overflow: hidden;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%,-50%);
}

h1 {
    color: white;
    font-size: 2.75rem;
    font-family: "Space Mono", monospace;
    display: grid;
    place-items: center;
}